.Chart {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 8px -5px #333;
}

.ChartTitle {
    color: #333;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}