.Analytics {
    flex: 5;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.AnalyticsBrandsAndRacket {
    flex: 1;
}

.AnalyticsUsers {
    flex: 1;
}

.AnalyticsTitle {
    font-weight: 700;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}