.Analytics {
    flex: 5;
    display: flex;
}

.AnalyticsBrandsAndRacket {
    flex: 1;
    margin: 20px 10px 20px 20px;
}

.AnalyticsUsers {
    flex: 1;
    margin: 20px 20px 20px 10px;
}

.AnalyticsTitle {
    font-weight: 700;
    font-size: 36px;
    margin: 20px 20px 20px 0;
    color: #333;
}