.Products {
    flex: 5;
    }
.ProductsContainer {
    height: 650px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px -5px #333;

}

.ProductsInfo {
    display: flex;
    align-items: center;
}

.ProductsAvt {
    width: 35px;
    height: 35px;
    border-radius: 999px;
    object-fit: cover;
    margin-right: 10px;
}

.ProductsIcon {
    display: flex;
    align-items: center;
}

.ProductsIconEdit{
    background-color: #66a8de;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 32px !important;
    cursor: pointer;
}
.ProductsIconEdit:hover {
    background-color: #3e8ccc;
}

.ProductsIconDelete{
    background-color: #F54748;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 32px !important;
    cursor: pointer;
}
.ProductsIconDelete:hover{
    background-color: #db2323;
}

.ProductsStatus {
    line-height: 16px;
    border-radius: 10px;
    padding: 5px 10px;
}

.ProductsStatus.Active{
    background-color: #d6fde5;
    color: #3ecc75;
}
.ProductsStatus.Inactive{
    background-color: #ffd9d9;
    color: #f73737;
}
.ProductsTitle {
    font-weight: 700;
    font-size: 36px;
    margin: 20px 20px 20px 0;
}

.ProductsTable {
    height: 85% !important;
    
}